# Prerequisites
*.d
*.vs
*.pdb
*.ilk
*.idb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

/Debug/*
/.vs/*
LinkedList/LinkedList/Debug/*
/LinkedList/Debug/*
LinkedList.sln
/allocator/Debug/*
allocator/allocator/Debug/*
allocator.sln
BinaryTree/BinaryTree/Debug/

*.sln
